#root {
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  &__noSelection {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px;
    min-height: calc(100vh - 200px); // Height - (topBar + footer)
  }

  &__topBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }
}

@media (width < 768px) {
  .app {
    &__topBar {
      flex-direction: column-reverse;
      margin-bottom: 16px;
    }
  }
}
